@charset "utf-8";
/* CSS Document */
@import url("../fontsTH/stylesheet.css");

body {
    font-family: "thaisans_neueregular", Helvetica, Arial, sans-serif !important;
	font-size: 20px;
}
b, strong, .strong, th {
    font-family: "thaisans_neuebold", Helvetica, Arial, sans-serif !important;
}

img.full-bg {
	bottom: 0;
    top: initial;
	
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}
label {
	font-weight: normal;
	margin: 0;
}
.btn-login {
	width: 100%;
	font-size: 20px;
	padding: 0px;
	margin: 15px auto 10px;
}
.block-login {
	background-color: transparent;
	-webkit-box-shadow: none;
    box-shadow: none;
}
.block-login label {
	color: #FFFFFF;
}
.block-login::before {
    content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 3px;
	background-color: #454e59;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.navbar.navbar-inverse, .navbar.navbar-inverse.navbar-glass:hover {
    background: #5ccdde;/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #5ccdde, #49c7db); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #5ccdde, #49c7db); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #5ccdde, #49c7db); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #5ccdde, #49c7db); /* Standard syntax */
}
.header-logout {
	color: #FFFFFF;
    text-align: center;
    padding: 5px 10px 0px 5px;
}
.header-user {
	border-right: 3px solid #9bdde5;
    margin: 7px 7px 7px 0;
	padding-right: 5px;
}
.header-user > img {
	padding-top: 4px;
}
.header-username {
    margin: 13px 7px 0 7px;
	color: #FFFFFF;
	text-align: right;
    font-size: 20px;
	line-height: 100%;
}
.header-username > strong {
    font-size: 24px;
	text-align: right;
}
.sidebar-nav a {
    font-size: 20px;
}
#page-container.header-fixed-top #sidebar-brand, #page-container.header-fixed-bottom #sidebar-brand {
    height: 65px;
}
#page-container.header-fixed-top #page-content {
    margin-top: 65px;
	padding-top: 7px;
}
@media screen and (min-width: 768px){
	#page-container.header-fixed-top #page-content {
		margin-top: 65px;
		padding-top: 20px;
	}
}
.sidebar-title {
    height: 65px;
    font-size: 30px;
	padding: 5px 15px;
}
#page-container.sidebar-visible-lg-mini header.navbar-fixed-top, #page-container.sidebar-visible-lg-mini header.navbar-fixed-bottom {
    height: 65px;
}

/*content*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "thaisans_neuebold", Helvetica, Arial, sans-serif !important;
	line-height: 1.1;
	color: inherit;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
	font-weight: normal;
	line-height: 1;
	color: #777;
}
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
	font-size: 65%;
}
h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
	font-size: 75%;
}
h1, .h1 {
	font-size: 36px;
}
h2, .h2 {
	font-size: 30px;
}
h3, .h3 {
	font-size: 24px;
}
h4, .h4 {
	font-size: 18px;
}
h5, .h5 {
	font-size: 14px;
}
h6, .h6 {
	font-size: 12px;
}
.block-title {
	position: relative;
    border-bottom: 3px solid #9bdde5;
    background: #02aac4;/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #02aac4, #49c7db); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #02aac4, #49c7db); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #02aac4, #49c7db); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #02aac4, #49c7db); /* Standard syntax */
    color: white;
	padding: 5px 10px;
}
.block-title-right {
	position: absolute;
	display: inline-block;
    right: 15px;
    color: #FFFFFF;
}

.inlineDiv {
	display: inline-block !important;
	vertical-align: middle;
}
.control-label {
	text-align: right;
	padding-right: 10px;
	font-weight: normal;
	margin: 0;
}
.form-control {
	font-size: 18px;
}
.rangeBlock {
	background-color: #b5e9f1;
	padding: 10px 0;
}
.rangeBlock2 {
	background-color: #edfdfd;
}
.numRange1 {
	font-family: "thaisans_neueultra_bold" !important;
	margin: 0;
	text-align: center;
	color: #22c726;
	line-height: 100%;
}
.numRange {
	font-family: "thaisans_neueultra_bold" !important;
	margin: 0;
	text-align: center;
	color: #02aac4;
	line-height: 100%;
	border-left: 2px solid #edfdfd;
}
.rangeDetail {
	text-align: center;
	line-height: 100%;
	border-left: 2px solid #edfdfd;
}
.rangeDetail1 {
	text-align: center;
	line-height: 100%;
}
.rangeDetail2 {
	line-height: 100%;
	padding: 10px 0;
}
.monthRate {
	font-family: "thaisans_neueultra_bold" !important;
	text-align: center;
	line-height: 100%;
}
.rate {
	font-family: "thaisans_neueultra_bold" !important;
	font-size: 50px;
	color: #ff8c04;
	text-align: center;
	line-height: 100%;
}
.rateLine {
	border-left: 2px solid #b5e9f1;
}
.progressWithBT {
	margin: 0;
}
.progressBT {
	margin-bottom: 20px;
}

.block .block {
    border: 2px solid #b5e9f1;
	border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.block-option {
    padding: 10px 20px;
	background-color: #b5e9f1;
	height: 64px;
}

.topicLine {
	width: 100%;
	height: 2px;
	background-color: #d9eceb;
	margin: 20px 0;
}

.dataTables_wrapper > div {
    background-color: transparent; 
    padding: 5px 0 5px;
    border: 0; 
}
div.dataTables_paginate {
    margin: 20px 0 0;
}
.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 0px 10px;
    font-size: 18px;
    line-height: 1.3;
}
.pagination-sm > li > a > i {
    font-size: 14px !important;
}
.paginate_button {
	background-color: transparent !important;
	font-family: "thaisans_neueultra_bold" !important;
	z-index: 3 !important;
	color: #454e59 !important;
	font-weight: 500 !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	border: none !important;
	border-radius: 3px !important;
	padding: 0px 10px;
	font-size: 18px;
	line-height: 1.3;
	text-decoration: none;
	cursor: pointer !important;
}
.paginate_button:hover {
	background-color: #5ccdde !important;
	color: #fff !important;
	text-decoration: none;
}
.paginate_button.current {
	background-color: #5ccdde !important;
	color: #fff !important;
	text-decoration: none;
}
.paginate_button.previous.disabled, 
.paginate_button.next.disabled {
	background-color: transparent !important;
	color: #777 !important;
	text-decoration: none;
	cursor: default !important;
}
.paginate_button.previous:after {
    font: normal normal normal 18px/1 FontAwesome;
	font-weight: bold;
	content: "\f104";
}
.paginate_button.next:before {
    font: normal normal normal 18px/1 FontAwesome;
	font-weight: bold;
	content: "\f105";
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #edfdfd;
}
.table thead > tr > th {
	border-bottom: 2px solid #d9eceb !important;
	padding: 0;
	font-family: "thaisans_neueultra_bold" !important;
	font-size: 20px;
	font-weight: normal;
}
table.dataTable {
    margin-top: 25px !important;
}

div.dataTables_length select {
    padding: 0px 8px;
    max-width: 100%;
    margin: 1px 0;
    color: #454e59;
    border-color: #dae0e8;
    border-radius: 3px;
}
.btn-xs, .btn-group-xs > .btn {
    font-size: 18px;
	margin-right: 8px;
	font-family: "thaisans_neueregular", Helvetica, Arial, sans-serif !important;
}
.btn-right {
	position: absolute;
	right: 20px;
	text-align: right;
	z-index: 999;
}

.block, .widget {
	margin-bottom: 0; 
	position: relative;
}
.modal {
    z-index: 2031;
}
@media (min-width: 768px){
	.modal-dialog {
		width: 90%;
		margin: 30px auto;
	}
}
.modal-sm {
	max-width: 750px !important;
}
.modal-alert {
	max-width: 350px !important;
}
.modal-header .close {
    margin-top: 5px;
}
.modal-header, .modal-header-tabs {
    background-color: transparent; 
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2030;
    background-color: #000000;
}
.modal-body {
	margin-top: -35px;
}
.orderTable {
	border: 1px solid #dae0e8;
	border-radius: 3px;
	width: 100%;
    padding: 0px 20px 0px;
}
.disabledText[disabled] {
	background-color: transparent;
	cursor: default;
	border: 0px;
}
.disabledBlock[disabled] {
	background-color: transparent;
	cursor: default;
	/*border: 1px;*/
}
.table tfoot > tr > th, .table tfoot > tr > td {
	background-color: transparent;
	padding: 10px 0 0 0;
}
.dropdown-menu {
	font-size: 18px !important;
}
div.dataTables_filter input {
    color: #454e59;
    border: 1px solid #dae0e8;
    border-radius: 3px;
	width: 200px;
}
div.dataTables_filter label {
    float: left;
	position: absolute;
	top: -49px;
}
.select2-search--dropdown .select2-search__field {
	padding: 1px;
}
/* Custom */
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
    border-color: #b5e9f1;
}
.fc-unthemed tbody .fc-day-top {
	cursor: pointer
}

.fc-unthemed .fc-today,
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
    background: #fcf8e3;
}

.fc-highlight { /* when user is selecting cells */
    background: #b5e9f1;
    opacity: .3;
    filter: alpha(opacity=30); /* for IE */
}

thead th.fc-widget-header {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 2px solid #b5e9f1;
    font-size: 18px;
    font-weight: 600;
	background-color: #b5e9f1;
}
.fc th, .fc td {
    border-width: 2px;
}
.fc-widget-header {
	margin: 0 !important;
}
.fc-day-grid-container {
	overflow-x: hidden !important;
    overflow-y: hidden !important;
}
.fc-icon-left-single-arrow:after {
    content: "\f053";
	font: normal normal normal 14px/1 FontAwesome;
    top: 0;
    left: 0;
}
.fc-icon-right-single-arrow:after {
    content: "\f054";
	font: normal normal normal 14px/1 FontAwesome;
    top: 0;
    left: 0;
}
.fc button {
    padding: 0 8px;
    height: 34px;
    margin-top: 0;
    line-height: 0;
    white-space: nowrap;
    cursor: pointer;
}
.fc button .fc-icon {
    position: relative;
	top: auto; 
    margin: auto;
    vertical-align: middle;
}
.fc-today-button {
	padding: 0 15px !important;
}
.date-title {
	position: absolute;
    font-size: 28px;
    font-family: "thaisans_neuebold", Helvetica, Arial, sans-serif !important;
	top: 50px;
	color: #02aac4;
}
.modal-footer {
	background-color: #FFFFFF; 
}
.select-btn {
	position: relative;
	margin: auto;
	display: table-cell;
	text-decoration: none !important;
}
.select-btn.old {
	color: #232323;
	background-color: #b5e9f1;
	padding: 35px 40px 35px 50px;
}
.select-btn.new {
	color: #FFFFFF;
	background-color: #02aac4;
	padding: 35px 50px 35px 40px;
}
.select-btn-group {
	text-align: center;
	margin: 30px auto;
	display: table;
}
.select-btn > .select-btn-icon {
	font-size: 100px;
	display: inline-block;
	padding: 0 15px;
}
.select-btn-text {
	display: inline-block;
}
.select-btn-top {
    font-family: "thaisans_neuebold", Helvetica, Arial, sans-serif !important;
	font-size: 40px;
}
.select-btn-bottom {
    font-family: "thaisans_neuebold", Helvetica, Arial, sans-serif !important;
	font-size: 65px;
	margin-top: -20px;
}
.tapCheckbox {
	padding-left: 40px;
}
.fc-day.fc-widget-content {
	cursor: pointer !important;
}


#page-container.sidebar-visible-lg-mini #sidebar .sidebar-nav .sidebar-nav-menu + ul {
	width: 150px !important;
	right: -150px !important;
}
#page-container.sidebar-visible-lg-mini #sidebar .sidebar-nav .sidebar-nav-menu + ul > li {
	border-left: 2px solid #454e59;
}
#page-container.sidebar-visible-lg-mini #sidebar .sidebar-nav .sidebar-nav-menu + ul > li > a {
	text-align: left !important;
	padding: 5px 10px;
}
.sidebar-nav-menu > i {
	font-size: initial !important;
    position: absolute !important;
    margin: auto !important;
    top: 33px !important;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
#yearBD{
	text-align: center;
    font-size: 20px;
    font-family: "thaisans_neuebold", Helvetica, Arial, sans-serif !important;
}
.salesBlockAll {
	background-color: #b5e9f1;
	border: 3px solid #b5e9f1;
	height: 500px;
}
.salesBlock {
	position: relative;
	float: left;
	background-color: #edfdfd;
    padding-left: 15px;
    padding-right: 15px;
	width: 33.33%;
	min-height: 250px;
}
.salesBlock.all {
	border: 3px solid #b5e9f1;
}
.salesBlock.top {
	border-top: 3px solid #b5e9f1;
}
.salesBlock.bottom {
	border-bottom: 3px solid #b5e9f1;
}
.salesBlock.left {
	border-left: 3px solid #b5e9f1;
}
.salesBlock.right {
	border-right: 3px solid #b5e9f1;
}
.salesBlock.rightW {
	border-right: 3px solid #edfdfd;
}
.salesBlock.header {
	background-color: #b5e9f1 !important;
	min-height: 100px !important;
}
.salesHeader {
	margin: 0;
	text-align: center;
	line-height: 200%;
}
.salesDetail {
	text-align: center;
}
.regionImg {
	text-align: center;
}
.fc-event {
	background-color: #ffc955;
	color: #454e59;
	border-color: #ffc955;
}
.input-group.text > .input-group-addon {
	border: 0px;
	font-size: 20px;
}
.input-group.text > .form-control {
	border-radius: 4px !important;
}
.input2block {
	padding: 0 !important;
}
.form-control.money {
	text-align: right;
}
.form-control.money[readonly] {
	background-color: ghostwhite !important;
}
.creditHeader {
	font-size: 40px;
	text-align: center;
	line-height: 200%;
}
.creditHeader > strong {
	font-size: 150px;
}
.creditDetail {
	font-size: 30px;
	text-align: center;
	line-height: 130%;
}
.creditDetail > strong {
	font-size: 50px;
}
.block-3 {
	position: relative;
	float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
	width: 33.33%;
}
.btn-force > a {
	margin: 0 !important;
}
.sidebar-nav a.active > .sidebar-nav-indicator {
    -webkit-transform: rotate(-180deg) rotateZ(0deg) !important;
    transform: rotate(-180deg) rotateZ(0deg) !important;
}
.sidebar-nav a.open > .sidebar-nav-indicator{
    -webkit-transform: rotate(-90deg) rotateZ(0deg) !important;
    transform: rotate(-90deg) rotateZ(0deg) !important;
}
.sidebar-nav li.active > a > .sidebar-nav-indicator {
    -webkit-transform: rotate(-90deg) rotateZ(0deg) !important;
    transform: rotate(-90deg) rotateZ(0deg) !important;
}
#monthYear {
	text-align: center;
}

.daily {
	border: 3px solid #b5e9f1;
    float: left;
}
.dailyDay {
	float: left;
	background-color: #b5e9f1 !important;
	border: 3px solid #b5e9f1;
    font-family: "thaisans_neuebold", Helvetica, Arial, sans-serif !important;
	width: 14.28571428571429%;
	height: 50px;
	font-size: 28px;
	text-align: center;
}
.dailyBlockGroup {
	width: 14.28571428571429%;
	float: left;
	background-color: #FFFFFF;
	height: 156px;
}
.dailyBlock {
	position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.dailyBlock.blank {
	border: 3px solid transparent;
	background-color: transparent !important;
}
.dailyBlockGroup.all {
	border: 3px solid #b5e9f1;
}
.dailyBlockGroup.top {
	border-top: 3px solid #b5e9f1;
}
.dailyBlockGroup.bottom {
	border-bottom: 3px solid #b5e9f1;
}
.dailyBlockGroup.left {
	border-left: 3px solid #b5e9f1;
}
.dailyBlockGroup.right {
	border-right: 3px solid #b5e9f1;
}
.dailyBlockGroup.rightW {
	border-right: 3px solid #edfdfd !important;
}
.dailyBlock.header {
	height: 50px;
	font-size: 28px;
	text-align: right;
}
.dailyHeader {
	font-size: 30px;
	text-align: center;
	line-height: 100%;
	/*margin: 20px 0;*/
}
.dailyHeader > strong {
	font-size: 40px;
}
.headerMonth {
	float: right;
	text-align: right;
	margin-top: -10px;
}
.headerMonth > h2,
.headerMonth > h3{
	margin: 0;
}
.modal-content .btn, .modal-header ,.modal-body{
    font-size: 20px;
}
.dateLast {
	background-color: #F7F7F7;
}
.dateNow {
	background-color: #e1fafe !important;
}
.push-top-bottom {
    margin-top: 0px; 
    margin-bottom: 40px;
}
.headChange {
	text-align: center;
    font-family: "thaisans_neuebold", Helvetica, Arial, sans-serif !important;
	font-size: 25px;
	letter-spacing: 3px;
}